.note-container {
  padding: 10px;
  margin: 20px 0;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.note-title {
  color: #333;
}

.note-content,
.note-category {
  color: #666;
}

.note-date {
  color: #999;
  font-size: 1rem;
}

.update-btn,
.delete-btn {
  color: white;
  border: none;
  margin: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.update-btn {
  background-color: #007bff;
}

.update-btn:hover {
  background-color: #0056b3;
}

.delete-btn {
  background-color: hsl(0, 61%, 48%);
}

.delete-btn:hover {
  background-color: hsl(0, 61%, 38%);
}
